@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@source "../../node_modules/fumadocs-ui/dist/**/*.js";

:root {
  color-scheme: dark;
}

body {
  background: var(--color-fd-background);
  color: var(--color-fd-foreground);
}
